<%
=begin%>
 <!DOCTYPE html>
<html>
<head>
    
<title></title>
</head>
<body>
    <p>this is my about page</p>
    <h1>Welcome to the About page</h1>
<h1>Welcome to the About page</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %>
</body>
</html>  
<%
=end%>

<!DOCTYPE html>
<html>
<head>
    
<title></title>
</head>
<body>

 <h1>Welcome to the About page</h1>
<h1>Welcome to the About page</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %> 

</body>
</html> 