<%
=begin%>
 <!DOCTYPE html>
<html>
<head>
    
<title></title>
</head>
<body>
    <p>Hello</p>
</body>
</html> 
<%
=end%>

<!DOCTYPE html>
<html>
<head>
<title>Unordered List Exercise</title>
</head>
<body>
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
        <li>item4</li>
    </ul>
   
</body>
</html>


<h1>Welcome to the Homepage</h1>
<h1>Welcome to the Homepage</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %>